
@{
    ViewBag.Title = "Index";
}
<br />
<div class="col" ng-app="App" ng-controller="TripController">
    <div class="panel-default">
        <div class="form-group row input-group col-md-4 ">
            <div ng-hide="origin.LocationList.StopLocation!=null">
                <input class="form-control input-group" type="text" ng-model="origin" placeholder="Departure Point" ng-change="originQuery(origin)" ng-model-options='{ debounce: 1000 }' />
                @*<input ng-hide="origin.LocationList.StopLocation!=null" class="form-control" type="submit" value="Load matches of your Origin" ng-click="originQuery(origin)" />*@
            </div>
            @*<span class="input-group-addon"> Origin</span>*@
            <p ng-hide="origin.LocationList.StopLocation==null" class="text"><b>Pick your departure point from list</b></p>
            <select ng-hide="origin.LocationList.StopLocation==null" ng-model="originId" class="form-control" placeholder="Select your Departure Point">
                <option ng-repeat="location in origin.LocationList.StopLocation" value="{{location.id}}">{{location.name}}</option>
            </select>

        </div>
        <div class="form-group row input-group col-md-4">
            <div ng-show="destination.LocationList.StopLocation==null">
                <input class="form-control" type="text" ng-model="destination" placeholder="Destination Point" ng-change="destinationQuery(destination)" ng-model-options='{ debounce: 1000 }' />
                @*<input ng-hide="destination.LocationList.StopLocation != null" class="form-control" type="submit" value="Load Matches of you Destination" ng-click="destinationQuery(destination)" />*@
            </div>

            <p ng-hide="destination.LocationList.StopLocation==null" class="text"><b>Pick your destination point from list</b></p>
            <select ng-hide="destination.LocationList.StopLocation==null" ng-model="destId" class="form-control" placeholder="Select Destination Point">
                <option ng-repeat="location in destination.LocationList.StopLocation" value="{{location.id}}">{{location.name}}</option>
            </select>
            <input type="hidden" ng-model="destName" value="{{destination.LocationList.StopLocation.name}}" />
        </div>
        <div class="input-group my_search_box_content">
            <input class="btn btn-success padding_around_button" value="Search the Connections" type="submit" ng-model="but_Submit" ng-click="userQuery(originId,destId)" />
        </div>
    </div>
    <hr />
    @*Weather Overview at the destionation.*@

    <div class="weatherOverviewLargeScreen panel panel-default alert alert-info" ng-if="destinationWeather != null">
        <div><h3>Weather at {{finalDestination}} </h3></div><br>
        <span ng-repeat="weatherData in destinationWeather.weather">
            <span class="alert alert-info outside_alert"> <img src="http://openweathermap.org/img/w/{{weatherData.icon}}.png" width="30px"><b>{{weatherData.description}}</b></span>
        </span> <span class="alert alert-info outside_alert"> <img src="http://www.nimalama.info/images/temp.png" width="30">{{destinationWeather.main.temp}} &#8451;</span>
        <span class="alert alert-info outside_alert"> <img src="http://www.nimalama.info/images/wind.png" width="30">{{destinationWeather.wind.speed}} m/s</span>

    </div>

    <div class="weatherOverviewSmallScreen panel panel-default alert alert-info" ng-if="destinationWeather != null">
        <span><b>Weather at {{finalDestination}} </b></span><br>
        <span ng-repeat="weatherData in destinationWeather.weather">
            <span class="alert alert-info no_overlap"> <img src="http://openweathermap.org/img/w/{{weatherData.icon}}.png" width="30px"></span>
        </span> <span class="alert alert-info no_overlap"> <img src="http://www.nimalama.info/images/temp.png" width="30">{{destinationWeather.main.temp}} &#8451;</span>
        <span class="alert alert-info no_overlap"> <img src="http://www.nimalama.info/images/wind.png" width="30">{{destinationWeather.wind.speed}} m/s</span>

    </div>

    @*Trip Display starts from here*@

    <div ng-hide="trips1 == null" ng-repeat="TripList in trips1">

        <div ng-if="TripList.Trip!=null" class="panel panel-default" ng-repeat="legs in TripList.Trip">
            @*<span ng-repeat="lastItem in legs.Leg[legs.Leg.length-1].Destination.time"> {{lastItem}}</span>*@
            @*<input class="alert alert-info" type="submit" value="View Details" ng-click="toggle()" />*@
            <div ng-if="legs.Leg.type!=null" class="panel">
                <span ng-hide="legs.Leg.name==null" class="alert no_overlap">
                    <span ng-if="legs.Leg.type=='WALK'"><img height="20" ng-src="http://www.rejseplanen.dk/img/fuss_pic.gif"></span>
                    <span ng-if="legs.Leg.type=='TOG' || legs.Leg.type=='REG'"><img height="20" ng-src="http://www.rejseplanen.dk/img/029_pic.gif"></span>
                    <span ng-if="legs.Leg.type=='EXB' || legs.Leg.type=='NB' || legs.Legg.type=='BUS'"><img height="20" ng-src="http://www.rejseplanen.dk/img/013_pic.gif"></span>
                    <span ng-if="legs.Leg.type=='IC'"><img height="20" ng-src="http://www.rejseplanen.dk/img/sel_prod_ic.png"></span>
                    <span ng-if="legs.Leg.type=='S'"><img height="20" ng-src="http://www.rejseplanen.dk/img/sel_prod_s.png"></span>
                    <span ng-if="legs.Leg.type=='M'"><img height="20" ng-src="http://www.rejseplanen.dk/img/sel_prod_metro.png"></span>
                    <span>{{legs.Leg.name}}</span>
                    <span ng-hide="legs.Leg.Origin.time==null" class="badge">{{legs.Leg.Origin.time}}</span>
                </span>

                <span ng-hide="legs.Leg.Origin.name == null" class="alert alert-success no_overlap">
                    {{legs.Leg.Origin.name}}
                    <span ng-hide="legs.Leg.Origin.track == null" class="badge"> Spor {{legs.Leg.Origin.track}}</span>
                </span>
                <span ng-hide="legs.Leg.Origin.name == null" class="glyphicon glyphicon-arrow-right no_overlap no_overlap_mobile downArrowIconLargeScreen"></span>
                <span ng-hide="legs.Leg.Origin.name == null" class="glyphicon glyphicon-arrow-down no_overlap no_overlap_mobile downArrowIconSmallScreen"></span>
                <span ng-hide="legs.Leg.Destination.name==null" class="alert alert-success no_overlap no_overlap_mobile">
                    {{legs.Leg.Destination.name}}
                    <span ng-hide="legs.Leg.Destination.time==null" class="badge">{{legs.Leg.Destination.time}}</span>
                    <span ng-hide="legs.Leg.Destination.track==null" class="badge"> Spor {{legs.Leg.Destination.track}}</span>
                </span>

                <input ng-if="legs.Leg.type!='WALK'" class="alert col-md-offset-2 wether_button_small wether_button no_overlap " value="Weather at {{legs.Leg.Destination.name}}" type="submit" ng-click="weatherQuery(legs.Leg.Destination.name); toggleWeather()" />
                <span ng-if="legs.Leg.type!='WALK'" class="wether_button_small hide_Unhide" ng-click="weatherQuery(legs.Leg.Destination.name); toggleWeather()"> <img height="25" src="http://nimalama.info/images/weather.png" /> </span>

            </div>
            @*The Multiple connection div starts from here....*@

            <div class="panel" ng-hide="sub_leg.Origin.name == null" ng-repeat="sub_leg in legs.Leg">
                <span class="alert no_overlap">
                    <span ng-if="sub_leg.type=='WALK'"><img height="20" ng-src="http://www.rejseplanen.dk/img/fuss_pic.gif"></span>
                    <span ng-if="sub_leg.type=='TOG' || sub_leg.type=='REG'"><img height="20" ng-src="http://www.rejseplanen.dk/img/029_pic.gif"></span>
                    <span ng-if="sub_leg.type=='EXB' || sub_leg.type=='NB' || sub_leg.type=='BUS'"><img height="20" ng-src="http://www.rejseplanen.dk/img/013_pic.gif"></span>
                    <span ng-if="sub_leg.type=='IC'"><img height="20" ng-src="http://www.rejseplanen.dk/img/sel_prod_ic.png"></span>
                    <span ng-if="sub_leg.type=='S'"><img height="20" ng-src="http://www.rejseplanen.dk/img/sel_prod_s.png"></span>
                    <span ng-if="sub_leg.type=='M'"><img height="20" ng-src="http://www.rejseplanen.dk/img/sel_prod_metro.png"></span>

                    {{sub_leg.name}}
                    <span ng-hide="sub_leg.type=='WALK'" class="badge">{{sub_leg.Origin.time}}</span>
                </span>
                <span class="alert alert-success no_overlap" ng-hide="sub_leg.type=='WALK'">
                    {{sub_leg.Origin.name}}
                    <span ng-hide="sub_leg.Origin.track == null" class="badge">Spor {{sub_leg.Origin.track}}</span>
                </span>
                <span ng-hide="sub_leg.Origin.name == null ; sub_leg.type=='WALK'" class="glyphicon glyphicon-arrow-right no_overlap no_overlap_mobile downArrowIconLargeScreen"></span>
                <span ng-hide="sub_leg.Origin.name == null ; sub_leg.type=='WALK'" class="glyphicon glyphicon-arrow-down no_overlap no_overlap_mobile downArrowIconSmallScreen"></span>
                <span class="alert alert-success no_overlap no_overlap_mobile" ng-hide="sub_leg.type=='WALK'">
                    <span>{{sub_leg.Destination.name}}</span>
                    <span ng-hide="sub_leg.Destination.track == null" class="badge">Spor {{sub_leg.Destination.track}}</span>
                    <span ng-hide="sub_leg.Destination.time==null" class="badge">{{sub_leg.Destination.time}}</span>
                </span>
                <input ng-if="sub_leg.type!='WALK'" class="alert col-md-offset-2  wether_button no_overlap" value="Weather at {{sub_leg.Destination.name}}" type="submit" ng-click="weatherQuery(sub_leg.Destination.name); toggleWeather(True)" />
                <span ng-if="sub_leg.type!='WALK'" class="wether_button_small hide_Unhide" ng-click="weatherQuery(sub_leg.Destination.name); toggleWeather()"><img height="25" src="http://nimalama.info/images/weather.png" /></span>
            </div>

            @* Weather Section From Here.........*@
            <div id="weatherBox" ng-show="visibleWeather" ng-hide="data1.main.temp == null" ng-model="weatherDiv" class="alert alert-danger col-md-offset-1">
                <input class="btn btn-danger col-md-offset-2 wether_button_small wether_button no_overlap" type="submit" value="Close" ng-click="toggleWeather()" />
                <input class="btn btn-danger hide_Unhide" type="submit" value="Close" ng-click="toggleWeather()" />
                <div ng-repeat="weather in data1.weather">
                    <img ng-src="http://openweathermap.org/img/w/{{weather.icon}}.png" />
                    <h4> Weather: {{weather.main}}</h4>
                    <h4> Description: {{weather.description}}</h4>
                </div>
                <div ng-hide="data1.main.temp == null">
                    <h4> Temperature: {{data1.main.temp}} &#8451;</h4>
                </div>
                <div ng-hide="data1.wind.speed == null">
                    <h4> Wind Speed: {{data1.wind.speed}} m/s;</h4>
                </div>
                <div ng-repeat="weather1 in data1.weather">
                    <input ng-hide="data1.wind.speed == null" class="btn btn-success" type="submit" value="Get Recommendation" ng-click="recommendationQuery(weather1.main,data1.main.temp,data1.wind.speed) ; toggleTrip()" />
                </div>
                <div class="panel panel-default" ng-hide="">
                    <h4>{{data2.message}}</h4>
                    <span class="alert" ng-repeat="items in data2.icon"><img width="50" src="http://www.nimalama.info/icons/{{items.item}}.png" /></span>
                </div>
            </div>
            <div>


            </div>
        </div>
    </div>
</div>


