
@{
    ViewBag.Title = "Index";
}

<h2>Trip Planner</h2>
<div class="col" ng-app="App" ng-controller="RejseController">
    <div class="input-group col-md-4">
        <input class="form-control" type="text" ng-model="origin" value="{{origin.LocationList.StopLocation.name}}" placeholder="Point of departure" />
        <input class="form-control" type="submit" value="Type and Select your Departure" ng-click="originQuery(origin)" />
        @*<span class="input-group-addon"> Origin</span>*@
        <select ng-model="originId" class="form-control" placeholder="Select your Departure Point">
            <option ng-repeat="location in origin.LocationList.StopLocation" value="{{location.id}}">{{location.name}}</option>
        </select>

    </div>
    <div class="input-group col-md-4">
        <input class="form-control" type="text" ng-model="destination" placeholder="Destination Point" />
        <input class="form-control" type="submit" value="Type and Select your Destination" ng-click="destinationQuery(destination)" />
        @*<span class="input-group-addon">  Destination</span>*@
        <select ng-model="destId" class="form-control" placeholder="Select Destination Point">
            <option ng-repeat="location in destination.LocationList.StopLocation" value="{{location.id}}">{{location.name}}</option>
        </select>
    </div><br /> <br />
    <div class="input-group">
        <input class="btn btn-success" value="Search the Connections" type="submit" ng-model="but_Submit" ng-click="userQuery(originId,destId)" />
    </div><br />

    <div ng-hide="trips1 == null" ng-repeat="TripList in trips1">
        <div class="panel panel-default" ng-repeat="legs in TripList.Trip">
            <div class="panel panel-body">
                <h5>
                    <span ng-hide="legs.Leg.name==null" class="alert alert-info">
                        {{legs.Leg.name}}
                        <span ng-hide="legs.Leg.Origin.time==null" style="font-size:medium;" class="badge">{{legs.Leg.Origin.time}}</span>
                    </span>

                    <span ng-hide="legs.Leg.Origin.name == null" class="alert alert-success">
                        {{legs.Leg.Origin.name}}
                        <span ng-hide="legs.Leg.Origin.rtTrack == null" class="badge"> Spor {{legs.Leg.Origin.rtTrack}}</span>
                    </span><span ng-hide="legs.Leg.Origin.rtTrack == null" class="glyphicon glyphicon-arrow-right"></span>
                    <span ng-hide="legs.Leg.Destination.name==null" class="alert alert-success">
                        {{legs.Leg.Destination.name}}
                        <span ng-hide="legs.Leg.Destination.rtTrack==null" class="badge"> Spor {{legs.Leg.Destination.rtTrack}}</span>
                    </span>
                    <input ng-hide="legs.Leg.Destination.name==null" class="alert alert-danger col-md-offset-2" value="Weather in {{legs.Leg.Destination.name}}" type="submit" ng-click="weatherQuery(legs.Leg.Destination.name)" />

                </h5>
            </div>
            @*The Multiple connection div starts from here....*@

            <div class="panel" ng-hide="sub_leg.Origin.name == null" ng-repeat="sub_leg in legs.Leg">
                <span class="alert alert-info"> {{sub_leg.name}}<span class="badge">{{sub_leg.Origin.time}}</span> </span>
                <span class="alert alert-success"> {{sub_leg.Origin.name}} <span ng-hide="sub_leg.Origin.rtTrack == null" class="badge">Spor {{sub_leg.Origin.rtTrack}}</span></span>
                <span ng-hide="sub_leg.Origin.name == null" class="glyphicon glyphicon-arrow-right"></span>
                <span class="alert alert-success"> {{sub_leg.Destination.name}}<span ng-hide="sub_leg.Destination.rtTrack == null" class="badge">Spor {{sub_leg.Destination.rtTrack}}</span> </span>
                <input class="alert alert-danger col-md-offset-2" value="Weather in {{sub_leg.Destination.name}}" type="submit" ng-click="weatherQuery(sub_leg.Destination.name)" />
            </div>

            @* Weather Section From Here.........*@
            <div ng-hide="data1.main.temp == null" ng-model="weatherDiv" class="alert alert-danger col-md-offset-1">
                <div ng-repeat="weather in data1.weather">
                    <img ng-src="http://openweathermap.org/img/w/{{weather.icon}}.png" />
                    <h4> Weather: {{weather.main}}</h4>
                    <h4> Description: {{weather.description}}</h4>
                </div>
                <div ng-hide="data1.main.temp == null">
                    <h4> Temperature: {{data1.main.temp}} &#8451;</h4>
                </div>
                <div ng-hide="data1.wind.speed == null">
                    <h4> Wind Speed: {{data1.wind.speed}} m/s;</h4>
                </div>
                <div ng-repeat="weather1 in data1.weather">
                    <input ng-hide="data1.wind.speed == null" class="btn btn-success" type="submit" value="Get Recommendation" ng-click="recommendationQuery(weather1.main,data1.main.temp,data1.wind.speed)" />
                </div>
            </div>
            <div>
                <h2>{{data2}}</h2>
            </div>
        </div>
    </div>
</div>


