
@{
    ViewBag.Title = "AngularView";
@section scripts{
    <script src="~/Scripts/angular.js">
</script>
}}

<h2>AngularView</h2>
<div ng-app="">
<input type="text" ng-model="Name" ng-init="Nima" />
    {{Name}}
</div>
