
@{
    ViewBag.Title = "form";
}

<h2>form</h2>

<form class="form-group row" method="post" action="WeatherOrNot">
    Origin <input class="form-control" type="text" name="origin" /> <br>
    Destination <input class="form-control" type="text" name="destination" /><br>
    <input class="btn-default" type="submit" value="Search" />

</form> 