
@{
    ViewBag.Title = "form";
}

<h2>form</h2>

<form class="form-group row" method="post" action="recommendation">
    Origin  <select name="origin" class="form-control">
        <option value="008600646">Nørreport</option>
        <option value="008600626">København H</option>
        <option value="008600856">Ørestad</option>
        <option value="008600755">Trekroner</option>
                <option value="008600617">Roskilde</option>
    </select>
    <br>
    Destination
    <select name="destination" class="form-control">
        <option value="008600617">Roskilde</option>
        <option value="008600626">København H</option>
        <option value="008600856">Ørestad</option>
        <option value="008600755">Trekroner</option>
        <option value="000000775">Dragør Stationsplads</option>
    </select>
    <br>
    <input class="btn-default form-control" type="submit" value="Search" />

</form> 