
@{
    ViewBag.Title = "Rejseplanen From/To Trip List";
}

@*<h2>Transportations from <span data-bind="text:TripList.Trip.Leg.Origin.name"></span></h2>*@
<h2>Transportations from</h2>
@*<div class="col-md-12">

    <ul class="list-group" data-bind="foreach: DepartureBoard.Departure">
        <li class="list-group-item">Name :<span data-bind="text: name"></span></li>
        <li class="list-group-item">Type : <span data-bind="text:type"></span></li>
        <li class="list-group-item">Stop : <span data-bind="text:stop"></span></li>
        <li class="list-group-item">Final Stop : <span data-bind="text:finalStop"></span></li>
        <li class="list-group-item">Direction : <span data-bind="text:direction"></span></li>
        <hr>
    </ul>
</div>*@

<script>
    var rejseObject = Object();
    $(document).ready(function () {

        $.get("@Url.Action("GetTripFromTo", "Home")", function (response) {
            console.log(response);
            rejseData = ko.mapping.fromJS(response);
            ko.applyBindings(rejseData);
        });
    });
</script>
