
@{
    ViewBag.Title = "Rejseplanen Trip List";
}

@*<h2>Transportations from Copenhagen H</h2>*@

<h1> Journey Itinerary <span data-bind="text:"></span> </h1>
@*----- With Connections-----*@
<div class="col-md-12 ">
    <h1>With Transits </h1>
    <div class="list-group" data-bind="foreach: TripList.Trip">
      
        <div class="well"  data-bind="foreach:Leg">
            <div class="list-group-item success">Name :<span style="font-weight : bold" data-bind="text: name"></span></div>
            <div class="list-group-item">Note : <span data-bind="text:Notes.text"></span></div>
            <div class="list-group-item">Departure Stop : <span data-bind="text: Origin.name"></span></div>
            <div class="list-group-item">Destination : <span data-bind="text: Destination.name"></span></div>
            <div class="list-group-item">Departure Time : <span data-bind="text:Origin.time"></span></div>
            <div class="list-group-item">Arrival Time : <span data-bind="text: Destination.time"></span></div>
            <br>
        </div>@*<hr style="width:75%;border: 0; border-bottom: 1px dashed #52399b; background: #999;" />*@

    </div>
</div>


@*--------From Trekroner to Copenhagen H --------*@
<div class="col-md-12 well" data-bind="">
    <h1>Without Transits </h1>
        <div class="list-group" data-bind="foreach: TripList.Trip">
            <div class="list-group-item">Name :<span data-bind="text: Leg.name"></span></div>
            <div class="list-group-item">Note : <span data-bind="text:Leg.Notes.text"></span></div>
            <div class="list-group-item">Departure Stop : <span data-bind="text: Leg.Origin.name"></span></div>
            <div class="list-group-item">Destination : <span data-bind="text: Leg.Destination.name"></span></div>
            <div class="list-group-item">Departure Time : <span data-bind="text:Leg.Origin.time"></span></div>
            <div class="list-group-item">Arrival Time : <span data-bind="text: Leg.Destination.time"></span></div>
            <hr>
   
        @*<div data-bind="foreach:Leg">
                <div class="list-group-item success">Name :<span data-bind="text: name"></span></div>
                <div class="list-group-item">Note : <span data-bind="text:Notes.text"></span></div>
                <div class="list-group-item">Departure Stop : <span data-bind="text: Origin.name"></span></div>
                <div class="list-group-item">Destination : <span data-bind="text: Destination.name"></span></div>
                <div class="list-group-item">Departure Time : <span data-bind="text:Origin.time"></span></div>
                <div class="list-group-item">Arrival Time : <span data-bind="text: Destination.time"></span></div>
            
        </div>*@
    </div>
    </div>



@*--------For departure Board-------*@
@*<div class="col-md-12">

        <ul class="list-group" data-bind="foreach: DepartureBoard.Departure">
            <li class="list-group-item">Name :<span data-bind="text: name"></span></li>
            <li class="list-group-item">Type : <span data-bind="text:type"></span></li>
            <li class="list-group-item">Stop : <span data-bind="text:stop"></span></li>
            <li class="list-group-item">Final Stop : <span data-bind="text:finalStop"></span></li>
            <li class="list-group-item">Direction : <span data-bind="text:direction"></span></li>
            <hr>
        </ul>
    </div>*@


<script>
    var tripData = Object();
    $(document).ready(function () {

        $.get("@Url.Action("GetTrip", "Home")", function (response) {
            console.log(response);
            tripData = ko.mapping.fromJS(response);
            ko.applyBindings(tripData);


        });
    });
</script>
